bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json
*.staticwebassets.endpoints.json
web.config

Properties/PublishProfiles/*.pubxml.user

*.zip

.aws/
*.pem
appsettings.Production.json
appsettings.Development.json
secrets.json
.env

.DS_Store
Thumbs.db